@import '../../styles/colours.styles.scss';
@import '../../styles/typography.styles.scss';

.chip{
    display: none;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: rgba(215, 201, 170, 0.10);
    backdrop-filter: blur(10px);

    @media (min-width: 600px) {
        display: flex;
    }

    p{
        color: $secondaryBeige;
        text-align: center;
        font-size: 14px;
        line-height: 150%; /* 21px */
        letter-spacing: 0.56px;
        margin: 0 auto;
    }
}